* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navbar {
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 4px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

.logout {
    background-color: red;
}

.left {
    display: flex;
    gap: 1rem;
}

.right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.fileContainer,
#folderSection {
    padding: .25rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 70%;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: white;
}

#folderSection {
    height: 65%;
}

.publicFileContainer {
    padding: .25rem;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    gap: 1rem;
    height: 35%;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: white;
}

.file {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(26, 25, 25);
    color: white;
    box-shadow: 0px 0px 5px 0px gray;
}

.folder {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 80%;
    padding: .5rem;
    border-radius: 4px;
    background-color: rgb(26, 25, 25);
    color: white;
    box-shadow: 0px 0px 5px 0px gray;
}

.folder p {
    color: #fff;
    margin: 0;
}

.folder i {
    font-size: 20px;
    color: rgb(218, 184, 17);
}

.file h3 {
    flex: 1;
    color: #fff;
    margin: 0;
    cursor: pointer;
}

.file h3:hover {
    text-decoration: underline;
}

.file select {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.file select option {
    background-color: #333;
    color: #fff;
}

.headers {
    margin-top: 1rem;
    border-radius: 0px;
    background-color: gray;
}

.newfile {
    margin-top: 1rem;
    background-color: rgb(6, 178, 6);
    color: white;
    font-size: larger;
}

.newfolder {
    background-color: rgb(6, 178, 6);
    color: white;
    width: 200px;
    padding: 4px 8px;
    height: 2rem;
}

#fileNameInput,
#folderInputForm {
    border-radius: 4px;
    background-color: gray;
    padding: 1rem;
    margin: 15% auto;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    z-index: 10;
}

.submit {
    height: 2rem;
    background-color: rgb(42, 42, 255);
}

.close {
    height: 2rem;
    background-color: red;
}

input,
select {
    font-size: 15px;
    outline: none;
    height: 2rem;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.overlayUp {
    display: none;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.btns {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
}

.public {
    background-color: rgb(84, 84, 236);
    margin-top: 1rem;
    color: white;
    font-size: larger;
}

.delete {
    background-color: #333;
    flex: .25;
    text-align: center;
    padding: 6.5px 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.breadcrumb {
    margin: 10px 0;
    font-size: 14px;
    color: white;
}

.breadcrumb a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.heading {
    width: 80%;
    height: 3rem;
    color: white;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    padding: .5rem;
}

.selectionSection {
    width: 100%;
    height: 3rem;
    background-color: #0e0e0e;
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    margin-top: 2rem;
}

#emptyMsg {
    display: block;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.uploading {
    width: 300px;
    height: 150px;
    border-radius: 4px;
    margin: 10rem auto;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    left: 40vw;
    top: 5rem;
    padding-top: 2rem;
}

.upload {
    border-radius: 4px;
    margin: 15rem auto;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    left: 48vw;
    top: 5rem;
    border: 1px solid black;
}

.upload:disabled {
    cursor: not-allowed;
}

.checkBoxBasis {
    flex-basis: 10px;
}

.iconBasis {
    flex-basis: 20px;
}

.itemNameBasis {
    flex-basis: 300px;
}

.dateBasis {
    flex-basis: 390px;
}

.typeBasis {
    flex-basis: 330px;
}

#folderComparisor {
    color: white;
}

#folderComparisor ul {
    list-style-type: none;
    padding-left: 20px;
}

/* #folderComparisor li {
    cursor: pointer;
} */

#changes,
#folder1,
#folder2 {
    color: white;
    height: 20rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 8px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#changes {
    scrollbar-width: inherit;
}

#folder1,
#folder2 {
    height: inherit;
    border-radius: 0px;
}

#folderComparisor {
    display: flex;
    gap: 1rem;
    height: 40rem;
}

.missingF2 {
    background-color: rgb(180, 80, 70);
}

.missingF1 {
    background-color: rgb(10, 160, 100);
}

.sizeDiff {
    background-color: rgb(200, 190, 60);
}

.history {
    background-color: #333;
    padding: 8px 12px;
}

.historySection {
    width: 400px;
    height: 500px;
    background-color: #1c1c1c;
    position: absolute;
    top: 10rem;
    left: 65rem;
    border-radius: 8px;
    display: none;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;
    padding: 1rem;
}

.singleDiv {
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    width: 350px;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.sizeSpan {
    overflow-y: scroll;
    scrollbar-width: none;
}